/* styles.css */
/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.background-image {
    background-image: url('imahe.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}

h1 {
    color: #0066cc;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Feedback modal styles */
#feedbackModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

#feedbackModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#feedbackModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#feedbackModal .close:hover,
#feedbackModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.flag-container {
    display: flex;
}

.flag {
    font-size: 24px;
    cursor: pointer;
    margin-top: 10px;
}

/* Add this style to adjust the space between flags if needed */
.flag + .flag {
    margin-left: 10px;
}
/* Button styling */
.mainButton, #feedbackBtn {
    padding: 15px 30px;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: #e9e9ed; /* Set the background color as needed */
    color: #333; /* Set the text color as needed */
    border: 2px solid #8f8f9d; /* Set the border color as needed */
    border-radius: 10px; /* Adjust the border-radius for rounded corners */
}

/* Additional styling for the feedback button */
#feedbackBtn {
    background-color: #e9e9ed; /* Use the same background color as the main button */
    color: #333; /* Dark text color, change as needed */
    border: 2px solid #8f8f9d; /* Dark border, change as needed */
	border-radius: 10px; /* Adjust the border-radius for rounded corners */
}

/* Button */
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

#rollingIcon {
    display: inline-block;
    transition: transform 0.05s ease-in-out;
    margin-right: 50px;
}
/* Add styles for the Italian flag */
#italianFlag {
    font-size: 24px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px; /* Adjust as needed */
}

/* Adjust styles for the new modal */
#noCapacityModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

#noCapacityModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#noCapacityModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#noCapacityModal .close:hover,
#noCapacityModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}